!!!
%html
  %head
    %title Secure Data Exchange
  %body
    %h1 Secure Data Exchange
    - if @data["direction"]=="download"
      Inform user where he can upload the files
      %a{:href=>"/sdx/email?id=#{@id}"} Upload E-Mail
    - if @data["direction"]=="upload"
      Upload data:
